* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: paleturquoise;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;

}

li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

header ul a {
    padding: 0 0.75rem;
    margin: 0 0.25rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image {
    height: 450px;
}

footer p {
    text-align: center;
}

.head h1 {
    text-align: center;
    margin: 18px 0;
}

footer p {
    text-align: center;
    background-color: paleturquoise;
    padding: 20px;
    margin-top: 2rem;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.box1 {
    background-color: darkcyan;
    border-radius: 10px 10px 0 0 ;
    width: 280px;
    height: 380px;
    margin: 10px;
}
.box1 a
{
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px 4rem;
    font-size: 20px;
    border-radius: 10px;
}
.box1 h3 {
    margin: 5px;
}

.box1 p {
    margin: 15px 0 25px 5px;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0 0 ;
}
.images
{
    width: 280px;
    height: 280px;
}